.venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.egg-info/
*.db
.env
client/.dart_tool/
client/build/
client/android/key.properties
client/android/app/*.jks
client/.flutter-plugins-dependencies
/maboy.apk
/maboy.exe
/*.dll
/data/
*.exe
*.log
cookies.txt
**/cookies.txt
client/test/failures/
ref/
ref.txt
